@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --color-qcRed: #e11d48;
  --color-qcBlack: #111111;
  --color-qcGray: #fcfcfc;
  --font-arimo: 'Arimo', sans-serif;
}

body {
  font-family: 'Arimo', sans-serif;
  scroll-behavior: smooth;
}

/* Metric Transition Logic */
.metric-item {
  transition: opacity 0.6s ease-in-out, transform 0.6s ease-out;
  pointer-events: none;
}

.metric-hidden {
  opacity: 0;
  transform: translateY(20px);
  z-index: 0;
}

.metric-visible {
  opacity: 1;
  transform: translateY(0);
  z-index: 10;
}

/* Text Block focus logic */
.text-block {
  transition: opacity 0.5s ease;
  opacity: 0.15;
}

.text-block.is-active {
  opacity: 1;
}

/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}