---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import PageContent from "../components/PageContent.astro";

export async function getStaticPaths() {
  const pages = await getCollection("pages-nl");
  return pages.map((page) => ({
    params: { slug: page.data.slug },
    props: { page },
  }));
}

const { page } = Astro.props;
---

<Layout title={`${page.data.title} - Quina Care`}>
  <Nav />
  <div data-pagefind-body>
    <PageContent page={page} />
  </div>
  <Footer />
</Layout>
