---
const { items } = Astro.props;
---

<ul class="hidden md:flex gap-6">
  {items.map(item => (
    <li class="relative group">
      <a href={item.path} class="hover:text-gray-600">{item.name}</a>
      {item.subMenu && (
        <ul class="absolute left-0 mt-2 w-48 bg-white shadow-lg rounded-lg opacity-0 group-hover:opacity-100 transition-opacity duration-300">
          {item.subMenu.map(subItem => (
            <li>
              <a href={subItem.path} class="block px-4 py-2 hover:bg-gray-100">{subItem.name}</a>
            </li>
          ))}
        </ul>
      )}
    </li>
  ))}
</ul>
