---
const { items } = Astro.props;
let activeMenu = items;
let prevMenus = [];

function handleSubMenu(subMenu) {
  prevMenus.push(activeMenu);
  activeMenu = subMenu;
}

function handleBack() {
  activeMenu = prevMenus.pop() || items;
}
---

<ul id="menu" class="md:hidden flex flex-col items-center gap-4 mt-4 p-4 bg-white/30 backdrop-blur-lg rounded-lg transition-all duration-300">
  {prevMenus.length > 0 && (
    <li>
      <button onClick={handleBack} class="block py-2 px-4 text-black hover:text-gray-600">
        ← Back
      </button>
    </li>
  )}
  {activeMenu.map(item => (
    <li>
      {item.subMenu ? (
        <button onClick={() => handleSubMenu(item.subMenu)} class="flex items-center gap-2 text-black hover:text-gray-600">
          <span class="text-sm">▶</span> {item.name}
        </button>
      ) : (
        <a href={item.path} class="block py-2 px-4 text-black hover:text-gray-600">{item.name}</a>
      )}
    </li>
  ))}
</ul>
