---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
---

<div id="container">
	<img id="background" src={background.src} alt="" fetchpriority="high" />
	<main>
		<section id="hero">
			<a href="https://astro.build"
				><img
					src={astroLogo.src}
					width="115"
					height="48"
					alt="Astro Homepage"
				/></a
			>
			<h1>
				To get started, open the <code><pre>src/pages</pre></code> directory
				in your project.
			</h1>
			<section id="links">
				<a class="button" href="https://docs.astro.build"
					>Read our docs</a
				>
				<a href="https://astro.build/chat"
					>Join our Discord <svg
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 127.14 96.36"
						><path
							fill="currentColor"
							d="M107.7 8.07A105.15 105.15 0 0 0 81.47 0a72.06 72.06 0 0 0-3.36 6.83 97.68 97.68 0 0 0-29.11 0A72.37 72.37 0 0 0 45.64 0a105.89 105.89 0 0 0-26.25 8.09C2.79 32.65-1.71 56.6.54 80.21a105.73 105.73 0 0 0 32.17 16.15 77.7 77.7 0 0 0 6.89-11.11 68.42 68.42 0 0 1-10.85-5.18c.91-.66 1.8-1.34 2.66-2a75.57 75.57 0 0 0 64.32 0c.87.71 1.76 1.39 2.66 2a68.68 68.68 0 0 1-10.87 5.19 77 77 0 0 0 6.89 11.1 105.25 105.25 0 0 0 32.19-16.14c2.64-27.38-4.51-51.11-18.9-72.15ZM42.45 65.69C36.18 65.69 31 60 31 53s5-12.74 11.43-12.74S54 46 53.89 53s-5.05 12.69-11.44 12.69Zm42.24 0C78.41 65.69 73.25 60 73.25 53s5-12.74 11.44-12.74S96.23 46 96.12 53s-5.04 12.69-11.43 12.69Z"
						></path></svg
					>
				</a>
			</section>
		</section>
	</main>

	<a
		href="https://www.quinacare.org"
		id="news"
		class="box"
		target="_blank"
		rel="noopener noreferrer"
	>
		<svg width="16" viewBox="0 0 179.97 499.4">
			<g transform="matrix(1.3333 0 0 -1.3333 416.91 682.9)"
				><path
					d="m-231.44 145.41v7.7841l-1.1251-0.32677c-0.61857-0.17972-6.4128-2.8947-12.876-6.0329-14.393-6.9892-17.793-8.2148-23.763-8.5669-5.4943-0.32398-6.0598 0.0416-5.1057 3.3001l0.61751 2.1076 42.002 17.777 0.15831 23.964c0.28752 43.523-0.4919 176.45-1.0292 175.49-0.27332-0.48846-1.4618-3.6172-2.641-6.9527-3.1765-8.9849-4.076-11.109-5.9411-14.024-2.7021-4.2243-3.9704-4.7544-13.33-5.5742-13.57-1.1884-19.904 0.5074-26.126 6.9942-5.6483 5.8893-9.3442 18.427-9.3442 31.699v3.4476l-3.6252 0.28019c-1.994 0.1541-4.2437 0.51868-5.0001 0.81004-1.3047 0.50244-1.3776 0.70269-1.4248 3.9171-0.0272 1.8632-0.19596 4.5762-0.37502 6.029l-0.32557 2.6416-3.9446 1.7116c-4.7063 2.0422-5.9903 3.154-7.1684 6.2063-0.80565 2.0878-0.88713 4.4913-0.88177 26.051 5e-3 20.301 0.13092 24.441 0.86783 28.501 2.1623 11.912 3.444 12.938 16.701 13.372l7.5737 0.24778 0.29421 5.8159c0.16182 3.1987 0.43629 10.597 0.61 16.441l0.31572 10.626 12.317 9e-4c6.7746 4.6e-4 19.237 0.14928 27.693 0.33068l15.376 0.32983v12.377l9.2508-0.28754 0.50002-140.51 4.1842-5.7503c6.9766-9.5871 10.084-15.5 10.785-20.521 0.50793-3.6416-0.17021-5.0886-2.8506-6.0839l-2.3119-0.8583-1.1793 2.606c-0.64859 1.4334-2.8549 6.3986-4.903 11.034l-3.7238 8.4282-0.12625-98.907c-0.0694-54.399 0.0431-99.073 0.25001-99.276 0.20695-0.20338 4.8762-2.0413 10.377-4.0849 17.975-6.6773 26.9-10.82 30.838-14.314l2.143-1.902-0.98951-1.8713c-0.54407-1.0292-1.264-1.9809-1.5995-2.1144-1.0656-0.42418-7.7377 0.92459-12.141 2.454-2.3376 0.81184-8.5277 3.5816-13.756 6.1543-9.8883 4.8662-14.008 6.7453-14.787 6.7453-0.25836 0-0.45857-3.384-0.45857-7.7504v-7.7504h-10zm-18.255 197.15c1.2779 0.34177 1.6558 1.0906 4.5659 9.0552 3.63 9.9329 5.6479 13.375 10.703 18.255l3.4858 3.3655-4.1e-4 25.079c-2.2e-4 13.794-0.14968 40.099-0.33211 58.456l-0.33171 33.377h-45.838v-23.841l3.4638-0.6188c6.0342-1.0784 9.6089-4.1472 10.538-9.0469 1.9544-10.306 1.9238-49.621-0.0454-58.106-0.63573-2.7382-3.221-5.3982-6.6936-6.8868-2.4089-1.0324-2.3489-0.83936-3.0436-9.8373l-0.31516-4.0818-3.0768-0.31982c-1.6922-0.1759-3.7248-0.44475-4.5166-0.59761l-1.4398-0.27761 0.33772-4.8214c1.0512-15.009 4.1054-23.103 10.192-27.008 3.9441-2.5307 6.9121-3.1062 14.403-2.7923 3.6037 0.15111 7.1787 0.44242 7.9448 0.6474zm-30.748 45.083v3.0002h-12.501v-6.0004h12.501zm7.4094 13.632c0.65449 0.54213 0.70434 3.9496 0.40048 27.329-0.31682 24.382-0.42169 26.767-1.2034 27.36-0.65021 0.49387-3.9591 0.65443-13.757 0.66661l-12.901 0.0159-0.70273-1.6814c-1.1412-2.7309-1.7206-7.4224-2.3114-18.718-0.7022-13.416 0.0709-33.025 1.3808-35.024l0.81047-1.2372 13.768 0.33447c9.7787 0.23754 13.985 0.51371 14.516 0.95391zm-23.41 15.387c-1.2377 0.20169 0.89999 0.2504 4.7503 0.10824s7.0941-0.34097 7.2087-0.4418c0.3689-0.32463-9.6318-0.0457-11.959 0.33356zm0 10.501c-1.2377 0.20168 0.89999 0.25039 4.7503 0.10824 3.8503-0.14216 7.0941-0.34097 7.2087-0.4418 0.3689-0.32464-9.6318-0.0457-11.959 0.33356zm0 9.5005c-1.2377 0.20169 0.89999 0.2504 4.7503 0.10824 3.8503-0.14215 7.0941-0.34097 7.2087-0.4418 0.3689-0.32463-9.6318-0.0457-11.959 0.33356zm1.599 8.9805c-1.7335 0.1957-3.4097 0.61384-3.7254 0.92955-0.43157 0.43158 1.4291 0.57371 7.511 0.57371 6.981 0 8.0455-0.1024 7.7969-0.75006-0.21686-0.56513-1.1273-0.75005-3.6938-0.75005-1.8734 0-3.7056-0.0808-4.0717-0.17947-0.36626-0.0987-2.0841-0.0194-3.8171 0.17632z"
					fill="#020202"
					stroke-width=".50003"></path></g
			></svg
		>
		<h2>Wat doet Quina Care?</h2>
		<p>
			Quina Care is een Nederlandse stichting met als doel het verbeteren
			van medische zorg in rurale gebieden van Zuid-Amerika en in het
			bijzonder het Amazoneregenwoud. In het noord oosten van Equador
			staat Hostpital San Miguel die deze zorg lever. Meer weten?
		</p>
	</a>
</div>

<style>
	#background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		filter: blur(100px);
	}

	#container {
		font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova",
			"Nimbus Sans", Arial, sans-serif;
		height: 100%;
	}

	main {
		height: 100%;
		display: flex;
		justify-content: center;
	}

	#hero {
		display: flex;
		align-items: start;
		flex-direction: column;
		justify-content: center;
		padding: 16px;
	}

	h1 {
		font-size: 22px;
		margin-top: 0.25em;
	}

	#links {
		display: flex;
		gap: 16px;
	}

	#links a {
		display: flex;
		align-items: center;
		padding: 10px 12px;
		color: #111827;
		text-decoration: none;
		transition: color 0.2s;
	}

	#links a:hover {
		color: rgb(78, 80, 86);
	}

	#links a svg {
		height: 1em;
		margin-left: 8px;
	}

	#links a.button {
		color: white;
		background: linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
		box-shadow:
			inset 0 0 0 1px rgba(255, 255, 255, 0.12),
			inset 0 -2px 0 rgba(0, 0, 0, 0.24);
		border-radius: 10px;
	}

	#links a.button:hover {
		color: rgb(230, 230, 230);
		box-shadow: none;
	}

	pre {
		font-family: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo,
			Consolas, "DejaVu Sans Mono", monospace;
		font-weight: normal;
		background: linear-gradient(14deg, #d83333 0%, #f041ff 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		margin: 0;
	}

	h2 {
		margin: 0 0 1em;
		font-weight: normal;
		color: #111827;
		font-size: 20px;
	}

	p {
		color: #4b5563;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.006em;
		margin: 0;
	}

	code {
		display: inline-block;
		background:
			linear-gradient(66.77deg, #f3cddd 0%, #f5cee7 100%) padding-box,
			linear-gradient(155deg, #d83333 0%, #f041ff 18%, #f5cee7 45%)
				border-box;
		border-radius: 8px;
		border: 1px solid transparent;
		padding: 6px 8px;
	}

	.box {
		padding: 16px;
		background: rgba(255, 255, 255, 1);
		border-radius: 16px;
		border: 1px solid white;
	}

	#news {
		position: absolute;
		bottom: 16px;
		right: 16px;
		max-width: 300px;
		text-decoration: none;
		transition: background 0.2s;
		backdrop-filter: blur(50px);
	}

	#news:hover {
		background: rgba(255, 255, 255, 0.55);
	}

	@media screen and (max-height: 368px) {
		#news {
			display: none;
		}
	}

	@media screen and (max-width: 768px) {
		#container {
			display: flex;
			flex-direction: column;
		}

		#hero {
			display: block;
			padding-top: 10%;
		}

		#links {
			flex-wrap: wrap;
		}

		#links a.button {
			padding: 14px 18px;
		}

		#news {
			right: 16px;
			left: 16px;
			bottom: 2.5rem;
			max-width: 100%;
		}

		h1 {
			line-height: 1.5;
		}
	}
</style>
