---

---

<div
  class="flex flex-wrap justify-center gap-x-8 gap-y-12 [&>*]:w-full sm:[&>*]:w-[calc((100%_-_2rem)/2_-_1px)] md:[&>*]:w-[calc((100%_-_4rem)/3_-_1px)] lg:[&>*]:w-[calc((100%_-_6rem)/4_-_1px)]"
>
  <slot />
</div>
